
html{
    background: rgb(37, 37, 37);
}
.titulo{
    display: grid;
    text-align: center;
    background-color: deepskyblue;
    margin-left: 40%;
    margin-right: 40%;
}

.livros{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: auto;
    
}
.livros div {
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
    width: 250px;
    height: 400px;
    margin: 50px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
    
}
.livros a {
    text-decoration: none;
    color: rgb(18, 101, 129);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;    
}
.livros img {
    width: 180px;
    height: 250px;
    margin: 5px;
    box-shadow: 10px 5px 3px rgb(3, 3, 3)
}
.tabela{
    display: grid;
    text-align: center;
    background: white;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    border: 10px outset deepskyblue;
}

.tabela th {
    border: 3px ridge deepskyblue;
}
.tabela td {
    border: 3px inset rgb(36, 36, 36);
}
.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background: deepskyblue;
    font-size: larger;
    padding: 3px;
}
.menu a{
    text-decoration: none;
    display: block;
    padding: 5px;
    color: white;
    text-align: center; 
    padding: 5px;
    border-right: 1px solid rgba(255, 255, 255,0.3); 
    border-left: 1px solid rgba(0, 0, 0, 0.1); 
}

.menu li:first-of-type a {
    border-left: none;
}

.item a:hover{
    background: aquamarine;
}

.form{
    background: grey;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 500px;
    flex: 1 1 500px;
}
.form a {
    text-decoration: none;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgba(255, 255, 255,0.3);
    padding-left: 5px;
    padding-right: 5px;
    background: white;
    color: black;   
}
.form a:hover {
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
}

.etnia{
    display: flex;
    position: relative;
    list-style: none;
}

.message{
    background: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid grey;
    width: 200px;
    height: 100px;
    margin: auto;
    padding: auto;
}
.button a {
text-decoration: none;
font-size: large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 1px solid rgba(255, 255, 255,0.3);
padding-left: 5px;
padding-right: 5px;
background: white;
color: black;   
}
.button a:hover {
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
}
.slider {
    background: whitesmoke;
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}
.slider:before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 190px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7)
 }
 .slider:after {
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 190px;
    background: linear-gradient(90deg, 
    hsla(0, 0%, 96.9%, 0), 
    hsla(0, 0%, 96.9%, 0.99),99%
    );
 }
 .slider .slide-track{
    display: flex;
    animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    width: calc(80px * 10);
 }
 .slider .slide{
    display: flex;
 }
 .slider .slide img {
    width: 150px;
    height: 190px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 10px 5px 3px rgb(3, 3, 3)
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-80px * 5));
        transform: translateX(calc(-80px * 5));
    }
}
